*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: monospace;
}

.ocultar{
    display: none;
}


@media (max-width: 768px) {
  .item{
    width: 34rem;
    height: 34rem;
  }
  .flex{
    flex-direction: column;
  }
}