.item {
    width: 20rem;
    height: 20rem;
    background-color: red;
<<<<<<< HEAD
}

.titulo{
    font-size: 1.5rem;
    color: aliceblue;
}

.img{
    width: 12rem;
    height: 12rem;
    border-radius: 25%;
    margin: auto;
    display: flex;
}

.descrip{
    font-size: 0.8rem;
    color: aliceblue;
    text-align: center;
=======
    border-radius: 3px;
    padding: 1rem;
    box-shadow: 5px 5px 10px rgb(206, 197, 197);
}



.item Img{
    width: 100%;

}

.verde{
    background-color: green;
>>>>>>> 7ff0bfe (header, ocultar)
}