.rectangulo {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}

.nombre{
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.circulo{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: aqua;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}